table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}



table div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

table div input{
    width: 100%;
    /* width: 200px; */
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
}

table div button{
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--col1);
    color: white;
    margin: 0px;
}

@media screen and (max-width: 1200px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 20px;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }



    table div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 3px;
    }

    table div input {
        width: 200px;
        border: 1px solid #ccc;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 16px;
    }

    table div button {
        width: 200px;
        border: 1px solid #ccc;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 16px;
        background-color: var(--col1);
        color: white;
        margin: 0px;
    }
}


table img{
    width: 70px;
    height: 70px;
    object-fit: cover;
}