.order-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0px;
}
.order-section select{
    background-color: var(--col1);
}

.order-sectionin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 10px;
}

.order-head1 {
    font-size: 35px;
    font-weight: 400;
    margin: 5px auto;
    color: var(--col1);
}


.order-s1 {
    display: flex;
    width: 80%;
    /* background-color: aqua; */
    align-self: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
}

.searchbar {
    flex-basis: 100%;
    margin-bottom: 0px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

@media screen and (min-width: 768px) {
    .searchbar {
        flex-basis: 40%;
        margin-bottom: 0;
    }
}

.order-s1-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 20px;
    background-color: var(--col1);
    border-radius: 25px;
    color: white;
    height: 40px;
}

.order-s1-in option {
    color: black;
}

@media screen and (min-width: 768px) {
    .order-s1-in {
        width: auto;
    }
}

.ordertxt1 {
    padding: 8px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.ordertxt {
    padding: 8px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}



@media screen and (max-width: 768px) {
    .order-s1 {
        /* background-color: aqua; */
        flex-direction: column;
        width: 80%;
    }

    .order-s1-in {
        max-width: 200px;
        margin: 10px 0px;
        flex-direction: column;
        height: max-content;
        padding: 5px;
    }

    .order-s1-in p {
        margin: 0px;
        font-size: 14px;
    }

    .order-s1-in select {
        margin: 1px 0px;
    }
}